.header
  .header-item
    .header-item__main
      %a{href: root_path}
        = image_tag "logo.svg"
      .search
        = form_with(local: true, method: :get) do |form|
          = form.text_field :keyword
          = form.submit
    .header-item__nav